.enter1{
  -webkit-animation: come 0.75s 1 0.5s forwards;
  animation: come 0.75s 1 0.5s forwards;
  opacity: 0;
}
.enter2{
  -webkit-animation: come 0.75s 1 1s forwards;
  animation: come 0.75s 1 1s forwards;
  opacity: 0;
}
@-webkit-keyframes come {
  0%  {opacity:0;}
  100% {opacity:1;}
}
@keyframes come {
  0%  {opacity:0;}
  100% {opacity:1;}
}