.main{
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

header{
  background:url('../images/gradient.png'),url('../images/table__head.png');
  background-repeat:repeat-x, no-repeat;
  box-sizing:border-box;
  padding:4rem;
  background-position: bottom left, center center;
  background-size: 10px 100% , cover;
  position:relative;
  @media (#{$bp-larger-than-mobile}) {
    height:320px;
  }
  @media (#{$bp-larger-than-phablet}) {
    height:480px;
  }
  @media (#{$bp-larger-than-desktophd}) {
    height:100vh;
  }
}
.title-block{
  @media (#{$bp-larger-than-mobile}) {
    width:100vw;
    color:white;
    text-align: center;
    position:absolute;
    left:0;
    bottom:2rem;
  }
  @media (#{$bp-larger-than-desktophd}) {
    width:30vw;
    bottom: 7rem;
    left:6rem;
  }
  h1{
    @media (#{$bp-larger-than-mobile}) {
      padding-bottom:0rem;
      margin-bottom: 1rem;
    }
  }
}
.intro-block{
  color:white;
  @media (#{$bp-larger-than-mobile}) {
    width:100%;
    position:relative;
    bottom: 0rem;
    background:$blue;
    padding:3rem;
    box-sizing:border-box;
  }
  @media (#{$bp-larger-than-desktophd}) {
    position:absolute;
    width:50vw;
    bottom:6rem;
    right:6rem;
    background:none;
  }
  h2{
    font-family: $font-para;
    font-weight: 700;
    margin-bottom:0;
    padding-bottom:0;
  }
  p{margin-bottom:0;}
}
.down-arrow{
  position:absolute;
  left:50vw;
  margin-left:-30px;
  bottom:4rem;
  max-width: 55px;
}
.numero-blue::before,.numero-white::before{
  @media (#{$bp-larger-than-mobile}) {
    content:"";
    position: absolute;
    display: block;
    height:3px;
  }
  top:-4px;
}
.numero-blue::before{
  @media (#{$bp-larger-than-mobile}) {
      width:20px;
  }
  @media (#{$bp-larger-than-desktophd}) {
      width:25px;
  }
  background:$blue;
}
.numero-white::before{
  @media (#{$bp-larger-than-mobile}) {
      width:26px;    
  }
  @media (#{$bp-larger-than-desktophd}) {
      width:29px;    
  }
  background:$white;
}
//controls the content block
.content__block{
@media (#{$bp-larger-than-mobile}) {
  height:auto;
  min-height: 320px;
  width:100vw!important;
  padding:3rem;
}
@media (#{$bp-larger-than-tablet}) {
  height:50vw;
  width:50vw!important;
  padding:4.5rem;
}
@media (#{$bp-larger-than-desktop}) {
  margin: 0;
  margin-left:0;
  background:#ccc;
  height:33.3333vw;
  width:33.3333vw!important; 
  max-height:33.3333vw;
  overflow:hidden;
  padding:3.5rem;
}
@media (#{$bp-larger-than-desktophd}) {
  padding:6.5rem;
}
  h2{
    @media (#{$bp-larger-than-mobile}) {
      font-family: $font-para;
      font-weight: 700;
      position:relative;
      font-size: 1.9rem;
      margin-bottom: 0.7rem;
    }
    @media (#{$bp-larger-than-desktophd}) {
      font-size: 2.5rem;
      margin-bottom: 1.2rem;
    }
  }
  //block with squared image
  &--img{
    padding:0;
    background:url('../images/placeholder.png');
    background-repeat:no-repeat;
    background-size:cover!important;
    background-position:top center!important;
  }
  //colors
  &--yellow{
    background:$yellow;
    color: $blue;
  }
  &--white{
    background:$white;
  }
  &--orange{
    background:$orange;
    color: $white;
  }
  &--blue{
    background:$blue;
    color: $white;
  }
  //nth changes for reordering the grid on mobile
  &:nth-of-type(1) {
    @media (#{$bp-larger-than-mobile}) {@include order(2);}
    @media (#{$bp-larger-than-tablet}) {@include order(2);}
    @media (#{$bp-larger-than-desktop}) {@include order(1);}
  }
  &:nth-of-type(2) {
    @media (#{$bp-larger-than-mobile}) {@include order(1);}
    @media (#{$bp-larger-than-tablet}) {@include order(1);}
    @media (#{$bp-larger-than-desktop}) {@include order(2);}
  }
  &:nth-of-type(3) {
    @media (#{$bp-larger-than-mobile}) {@include order(3);}
    @media (#{$bp-larger-than-tablet}) {@include order(3);}
    @media (#{$bp-larger-than-desktop}) {@include order(3);}
  }
  &:nth-of-type(4) {
    @media (#{$bp-larger-than-mobile}) {@include order(4);margin-bottom:2px;}
    @media (#{$bp-larger-than-tablet}) {@include order(4);margin-bottom:0px;}
    @media (#{$bp-larger-than-desktop}) {@include order(4);}
  }
  &:nth-of-type(5) {
    @media (#{$bp-larger-than-mobile}) {@include order(6);}
    @media (#{$bp-larger-than-tablet}) {@include order(6);}
    @media (#{$bp-larger-than-desktop}) {@include order(5);}
  }
  &:nth-of-type(6) {
    @media (#{$bp-larger-than-mobile}) {@include order(5);}
    @media (#{$bp-larger-than-tablet}) {@include order(5);}
    @media (#{$bp-larger-than-desktop}) {@include order(6);}
  }
  &:nth-of-type(7) {
    @media (#{$bp-larger-than-mobile}) {@include order(7);}
    @media (#{$bp-larger-than-tablet}) {@include order(7);}
    @media (#{$bp-larger-than-desktop}) {@include order(7);}
  }
  &:nth-of-type(8) {
    @media (#{$bp-larger-than-mobile}) {@include order(8);}
    @media (#{$bp-larger-than-tablet}) {@include order(8);}
    @media (#{$bp-larger-than-desktop}) {@include order(8);}
  }
  &:nth-of-type(9){
    @media (#{$bp-larger-than-mobile}) {@include order(9);}
    @media (#{$bp-larger-than-tablet}) {@include order(9);}
    @media (#{$bp-larger-than-desktop}) {@include order(9);}
  }
  &:nth-of-type(10){
    @media (#{$bp-larger-than-mobile}) {@include order(10);}
    @media (#{$bp-larger-than-tablet}) {@include order(10);}
    @media (#{$bp-larger-than-desktop}) {@include order(10);}
  }
  &:nth-of-type(11){
    @media (#{$bp-larger-than-mobile}) {@include order(12);}
    @media (#{$bp-larger-than-tablet}) {@include order(12);}
    @media (#{$bp-larger-than-desktop}) {@include order(11);}
  }
  &:nth-of-type(12){
    @media (#{$bp-larger-than-mobile}) {@include order(11);}
    @media (#{$bp-larger-than-tablet}) {@include order(11);}
    @media (#{$bp-larger-than-desktop}) {@include order(12);}
  }
}




/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
