body{
  background:$white;;
}
//lightbox
#lightbox {
    position:fixed; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background:rgba(0,0,0,0.7); 
    text-align:center;
    padding-top:8rem;
}
#lightbox img {
    max-height:72vh;
    background:$white;
    padding:1rem;
}
//fixed sidebar
aside{
  @media (#{$bp-larger-than-mobile}){width:100%;position:relative;}
  @media (#{$bp-larger-than-tablet}){width:30%;position:fixed;}
  @media (#{$bp-larger-than-desktop}){width:25%;}
  @media (#{$bp-larger-than-desktophd}){width:20%;}
  height: 100%;
  top: 0;
  left: 0;
  background:$background-color;
  color: $black-80percent;
  box-sizing:border-box;
  padding: 3.5rem;
}
.profile-pic{
  @include border-radius(50%);
  margin-bottom: 2rem;
}
.content{
  @media (#{$bp-larger-than-mobile}){width:100%;margin:0;}
  @media (#{$bp-larger-than-tablet}){width:70%;margin:0 30%;}
  @media (#{$bp-larger-than-desktop}){width:75%;margin:0 25%;}
  @media (#{$bp-larger-than-desktophd}){width:80%;margin:0 20%;}
  figure{
    @media (#{$bp-larger-than-mobile}){width: 100%;}
    @media (#{$bp-larger-than-desktop}){width: 33.333%;}
    display: inline-block;
    margin: 0;
    float: left;
    margin-bottom: 0; 
    padding:0;
    position:relative;
    img{
      vertical-align: top;
    }
    figcaption{
      @include fade(0.3s);
      position: absolute;
      top:0;
      width: 100%;
      height: 100%;
      display: block;
      background:rgba(0,0,0,0.7);
      opacity: 0;
      text-align: center;
      .title{
        font-size: 1.8rem;
        color: $white;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      &:hover{
        opacity: 1;
      }
    }
  }
}



.socials{
  @media (#{$bp-larger-than-mobile}){position:relative; left:10%;  bottom:0;}
  @media (#{$bp-larger-than-tablet}){margin-left:0;position:absolute;left:2rem;}
  
  bottom:4rem;
  margin: 0;
  li{
    display: inline-block;
    width:25px;
    margin: 3rem 0.8rem;
    img{
      width:100%;
      opacity: 0.7;
      &:hover ,a:hover{
        opacity: 1;
        border-bottom:none;
      }
    }
  }
}
/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
