// MIXINS
@mixin fade($fade) {
-webkit-transition: all $fade;
transition: all $fade;
}

@mixin order($order) {
-webkit-box-ordinal-group:$order;
-moz-box-ordinal-group:$order;
-ms-flex-order:$order;
-webkit-order:$order;
order:$order;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}