//COLOURS
$background-color:rgba(254,255,249,1);
$black:rgba(35, 31, 32, 1);
$black-80percent:rgba(35, 31, 32, 0.8);
$rail-red:rgba(207, 74, 55, 1);
$yellow:#F8E51C;
$white:#fff;
$orange:#EC4C13;
$blue:#1D40BF;